# Ignore all data contents
data_raw/**
data_intermediate/**
data_final/**
output/**

# Keep all .gitkeep files
!data_raw/**/.gitkeep
!data_intermediate/**/.gitkeep
!data_final/**/.gitkeep
!output/**/.gitkeep

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/